body {
  background-color: #f8e8a6;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}

.page-links {
  display: block;
  text-align: center;
}

.croissant-photo {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
}
